html {
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
}
		
*, *::before, *::after {
  box-sizing: inherit;
}

body{
	margin: 0;
}

img{
	width: 100%;
	display: block;
}

.masthead{
	background-image: url("../image/logo.svg"), url("../image/masthead-bg.png");
	background-size: 75px auto, 75px auto, 100px auto;
	background-repeat: no-repeat, no-repeat,repeat;
	text-align: center;
	font-size: 3em;
	color: #512200;
}

h1{
	margin: 0;
}

nav ol{
	overflow: hidden:;
	margin: auto;
	padding: 0;
	width: 100%;
	background-color: rgba(81, 34, 0, 0.5);
}

nav li{
	text-align: center;
	width: 25%;
	display: inline-block;
	float: left;
}

a{
	text-decoration: none;
	font-size: 1.5rem;
	padding-bottom: 1.092px;
	color: #fff;
}