html {
	box-sizing: border-box;

}
		
*, *::before, *::after {
  box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Dosis', sans-serif;
}

img{
	width: 100%
}

.masthead{
	background-image: url("../image/logo.svg"), url("../image/logo.svg"), url("../image/masthead-bg.png");
	background-size: 33px auto, 33px auto, 100px auto;
	background-repeat: no-repeat, no-repeat,repeat;
	background-position: 5% 15%, 95% 15%, left top;
	text-align: center;
	color: #512200;
	margin: 0;
}

h1{
	margin: 0;
	font-size: 30pt;
	font-weight: 900;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav ol{
	overflow: hidden;
	margin: auto;
	padding: 0;
	width: 100%;
	background-color: rgba(81, 34, 0, 0.5);
}

nav li{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
	width: 25%;
	display: inline-block;
	float: left;
}

a{
	text-decoration: none;
	font-size: 12pt;
	font-weight: bold;
	padding-bottom: 1.092px;
	color: #fff;
}

li:hover{
  background-color: rgba(81, 34, 0, 0.5);
}

.bg{
	position: relative;
	width: 100%;
}

.bg p{
	font-size: 16pt;
	position: absolute;
	bottom: 0.3em;
	font-weight: bold;
	text-align: center;
	width: 100%;
	color: white;
	padding-bottom: 30px;
	padding-top: 75px;
	margin-bottom: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.50));
}

figure img{
	display: block;
	width: 100%;
}

figure {
  position: relative;
  bottom: 1em;
  box-sizing: border-box;
  margin: 0;
  width: 50%;
  float: left;
}

figcaption {
  display: block;
  background-color: #388200;
  border-radius: 12px;
  text-align: center;
  margin-left: 20%;
  color: white;
  width: 60%;
  right: 50%;
  transform: translate(50%);
  position: absolute;
  box-shadow: 0px 3px 10px #000;
  bottom: 1em;
  padding: .4em;
  background: linear-gradient(to bottom, #6fc000, #388200);
}

figcaption:hover {
	background-color: #388200;
	background: linear-gradient(to bottom, #388200, #214d00);
}

footer {
  background-color: rgba(81, 34, 0, 0.5);
  clear: inherit;
}

.beetle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -0.5em;
  bottom: 1em;
  width: 20px;
}